*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Comic Neue', cursive; 
}
/* Navbar */
.nav-menu{
     padding: 25px; 
}
.fas{
    color: #dbc1ac;
}
.menu{
    font-size: 20px;
    letter-spacing: 1px;
    color: #634832;
    transition: all .4s;

}
.menu:hover{
    color: tomato;
}
.bar1, .bar2, .bar3{
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;

}
.navbar-toggler{
    outline: none!important;
}
/* navbar */
header{
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.63),rgba(0,0,0,0.5)) ,
    url(images/Kerala\ -\ The\ Real\ Beauty\ of\ Nature\ 4K!\ -\ Cinematic\ Video.mp4)no-repeat center center/cover ;
}
/* video */
.most-liked{
    position:relative;
    margin-top: 25px;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    z-index: -1;
    /* opacity: .8; */
}
.bg-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* end of video */
/* Contact Us */
.form-control{
    color: #dbc1ac;
}
.btn{
    color: #dbc1ac;
    font-weight: bold;
    border: 2px solid #634832;
    font-size: 25px;
}
.hvr-right{
    display: inline-block;
    vertical-align: middle;
    transition-duration:0.5s ;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0);
    position: relative;
    transition-property: color;
}
.hvr-right:before{
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dbc1ac;
    transition-timing-function: ease-out;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
}
.hvr-right:hover, .hvr-right:focus, .hvr-right:active{
    color: #000;

}
.hvr-right:hover:before, .hvr-right:focus:before, .hvr-right:active:before{
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37,0.66);
    transform: scaleX(1);
}
/* footer */
.container1{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px;
}
.copyright{
    text-align: center;
}